CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeSettings.json
.vs/*
.vscode/*
build/*
record.json
record.json
2019-6-29record-0.json
